{% extends "document/right_article.html" %}
{% block article %}
<h1>Team Poold</h1>
<h2><i>Who we are . . . </i></h2>
<p></p>
<p>
  We're a group of friends hacking away in the Center of the Universe
  (aka Fremont, Seattle). We pool time. We pool money. We pool ideas.
  We even pooled some <a href="http://coconuts.poold.in">coconuts</a>.
  Now we're pooling together to bring you Poold.
</p>
<p></p>
<h2><i>What we do . . . </i></h2>
<p></p>
<p>
  We're working hard to give you more control over what you can do with
  your money in the mobile payments space. Check out our
  <a href="{{ url_for('marketing.manifesto') }}">Manifesto</a> and join the
  movement!
</p>
<p></p>
<h2><i>Meet Team Poold . . . (alpha order for now, fellas)</i></h2>
<p></p>
<ul>
  <li>
    <p><a href="mailto:kevin@poold.in">Kevin Berger</a></p>
    <p><img src="http://sphotos-b.xx.fbcdn.net/hphotos-ash4/421083_3130868512842_334525719_n.jpg" height="150" width="150"></p>
    <hr />
  </li>
  <li>
    <p><a href="mailto:sung@poold.in">Sung Kim</a></p>
    <p><img src="http://i0.kym-cdn.com/photos/images/original/000/100/128/happycat.gif?1318992465" height="150" width="150"></p>
    <hr />
  </li>
  <li>
    <p><a href="mailto:patrick@poold.in">Patrick Murck</a></p>
    <p><img src="http://m3.licdn.com/media/p/1/000/07f/0cc/09ddbf0.jpg" height="150" width="150"></p>
    <hr />
  </li>
  <li>
    <p><a href="mailto:brian@poold.in">Brian Oldfield</a></p>
    <p><img src="http://m3.licdn.com/media/p/2/000/051/1b1/310f3c3.jpg" height="150" width="150"></p>
    <hr />
  </li>
  <li>
    <p><a href="mailto:collin@poold.in">Collin Watson</a></p>
    <p><img src="http://m4.licdn.com/media/p/1/000/122/14b/00b9330.jpg" height="150" width="150"></p>
    <hr />
  </li>
  <li>
    <p><a href="mailto:lloyd@poold.in">Lloyd</a>, Chief Paw Licker</p>
    <p><img src="http://www.olympiclabradoodles.com/images/Happy%20Kira%20April%202007%20web.JPG" height="150" width="150"></p>
    <hr />
  </li>
  <li>
    <p><a href="mailto:benny@poold.in">Benny</a>, Chief Security Officer</p>
    <p><img src="http://www.thestranger.com/binary/1f2a/feat1-160.jpg" height="150" width="150"></p>
  </li>
</ul>
{% endblock %}
