{% extends "document/right_article.html" %}
{% block article %}
<div class="padded-content">
  <h1>Contact</h1>
  <i><p>We want to hear from you!</p></i>
  <p></p>
  <p>Pool together your ideas and send them over to <a href="mailto:feedback@poold.in">feedback@poold.in</a>.</p>
  <p></p>
  <p>If your company is interested in pooling in with us, get in touch at <a href="mailto:partners@poold.in">partners@poold.in</a>.</p>
  <p></p>
  <p>Poold HQ is located in the heart of Seattle's Fremont neighborhood.</p>
  <p></p>
  <p>Poold, Inc.<br>421 N. 36th Street<br>Seattle, WA 98103</p>
</div>
{% endblock %}
