<div class="navbar">
  <div class="navbar-inner navbar-fixed-top">
    <div class="container">
      <ul class="nav">
        <li>
          <a href="/">
            <img src="/static/img/menubar-home.png" alt="Home" class="menu-icon" />
          </a>
        </li>
        <li>
          <a href="/pool/create">
            <img src="/static/img/menubar-create.png" alt="Create Campaign" class="menu-icon" />
          </a>
        </li>
        <li>
          <a href="/account">
            <img src="/static/img/menubar-account.png" alt="Account" class="menu-icon" />
          </a>
        </li>
        {% if user.is_anonymous() %}
        <li>
          <a href="/login?forward=profile">
            <img src="/static/img/menubar-profile.png" alt="Profile" class="menu-icon" />
          </a>
        </li>
        {% else %}
        <li>
          <a href="/profile/{{ user.username }}">
            <img src="/static/img/menubar-profile.png" alt="Profile" class="menu-icon" />
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
