<div class="navbar fixed-top">
  <div class="navbar-inner navbar-fixed-top">
    <ul class="nav">
      <li>
        <a href="/">
          <img src="/static/img/menubar-home.png" alt="Home" class="menu-icon" />
        </a>
      </li>
      <li>
        <a href="/pool/create">
          <img src="/static/img/menubar-create.png" alt="Create Campaign" class="menu-icon" />
        </a>
      </li>
      {% if user.is_anonymous() %}
      <li class="last-tab">
        <a href="/signup?next=account">
          <img src="/static/img/menubar-profile.png" alt="Profile" class="menu-icon" />
        </a>
      </li>
      {% else %}
      <li class="last-tab">
        <a href="/account">
          <img src="/static/img/menubar-profile.png" alt="Profile" class="menu-icon" />
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
