{% extends "document/right_article.html" %}

{% block article %}
<section>
  <div class="padded-content">
    <div class="block-center" style="margin-top: 20px; margin-bottom: 20px; width: 75%">
      We're sorry, campaign creation is currently restricted to a limited number of participants.
      To request to be on this list, please send an email to: <a href="mailto:beta@poold.in">beta@poold.in</a>
    </div>

    <div class="block-center" style="margin-bottom: 20px; width: 75%">
      ~ The Poold.In Team
    </div>
  </div>
</section>
{% endblock %}
