{% extends "document/right_article.html" %}

{% block secondary %}
{% include 'pool/nav.html' %}
{% endblock %}

{% block article %}
<section id="pool-view-overview" class="pool overview">
  <div class="padded-content">
    <div class="title">
      <div class="h3">{{ campaign.name|safe }}</div>
      <div class="organizer">Organized by <span class="bold black">{{ organizer.display_name }}</span></div>
    </div>
  </div>
  <div class="details">
    <h3 class="text-center pinup"><span class="upper">Goal:</span> <span class="grey" data-bind="text: amount">0</span></h3>
    <div class="span9 text-center">
      <a href="#" class="btn btn-danger upper" data-bind="click: function (e) { alert('Currently not supported'); }">Pool In</a>
    </div>
    <hr />
    <div class="text-center lower">
      <div><i>Current Total</i> = <span class="bold black" data-bind="text: contributionAmount"></span></div>
      <div><i>Poold In</i> = <span class="bold black" data-bind="text: participantCount"></span></div>
    </div>
  </div>
  <div class="text-center remaining">
    <span class="digit" data-bind="text: daysRemaining"></span> Days
    <span class="digit" data-bind="text: hoursRemaining"></span>  Hrs
    <span class="digit" data-bind="text: minutesRemaining"></span>  Mins
  </div>
</section>
  <ul id="poold-view-details-tabs" class="nav nav-tabs two">
    <li><a href="#description" data-toggle="tab">Description <i class="icon-chevron-down icon-white" style="float: right;"></i></a></li>
    <li><a href="#participants" data-toggle="tab">Participants <i class="icon-chevron-up icon-white" style="float: right;"></i></a></li>
  </ul>
<section id="pool-view-description" class="pool tab-body" style="display: none;" data-bind="visible: tabs['#description'].visible">
  {{ campaign.description|safe }}
</section>
<section id="pool-view-participants" class="pool tab-body" style="display: none;" data-bind="visible: tabs['#participants'].visible">
<div data-bind="foreach: participants">
  <div class="participant">
    <div class="profile-image"><img data-bind="attr: {src: gravatar, alt: name}" /></div>
    <div class="details">
      <span class="name" data-bind="text: name"></span> | <span class="role" data-bind="text: role"></span>
      <span class="status" style="display: block;" data-bind="text: status"></span>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr />
</div>
</section>
{% endblock %}

{% block init %}
<script type="text/javascript">
  PI.pages.PoolViewPage.init({
    title: {{ title|tojson|safe }},
    tabs: {"#poold-view-details-tabs": ["#description", "#participants"]},
    amount: {{ campaign.amount }},
    contributionAmount: {{ total_poold }},
    timestamp: {{ timestamp }},
    participants: {{ participants|safe }}
  });
</script>
{% endblock %}
