{% extends "document/right_article.html" %}
{% block article %}
<div class="padded-content">
  <h1>Privacy Policy</h1>
  <p><i>Last Revised On: </i></p>
  <p></p>
  <center><h2><b>Introduction</b></h2></center>
  <p></p>
  <h3><i>Purpose of Policy</i></h3>
  <p>This Policy describes how Poold, Inc. (“us,” “we” or "Poold") collects, uses and discloses personal information from you when you visit and use the <a href="http://poold.in/">Poold website</a> (the “Site”). This Policy is only applicable to the Site, and not to any other websites that you may be able to access from the Site, each of which may have data collection and use practices and policies that differ materially from this Policy.</p>
  <p></p>
  <h3><i>Notice Concerning Children</i></h3>
  <p><u>Please Note</u>: Our Site is operated for an adult audience only, and we require users to be at least 18 years of age. We do not intend for anyone under the age of 18 to use any of the features or services we offer from the Site, and we certainly do not direct any of our content specifically at children under 13 years of age. We understand and are committed to respecting the sensitive nature of children’s privacy online. </p>
  <p></p>
  <center><h2><b>Information Collection Practices</b></h2></center>
  <p></p>
  <h3><i>Information You Provide</i></h3>
  <p></p>
  <p>In operating the Site, Poold will collect personal information that you provide to us. For example, that may include registration, online surveys, and other online forms that ask users to provide their names, email addresses, other contact information, optional demographic information, financial account information, feedback, and voting.</p>
  <p></p>
  <h3><i>Information Collected Automatically</i></h3>
  <p></p>
  <p>When you visit or make use of the Site we may collect some information about you automatically. For example, our servers automatically recognize visitors’ domain names and Internet protocol addresses ("IP addresses") (the number assigned to computers on the Internet). The Site may also gather “traffic data” that may be helpful for marketing purposes or for improving the services we offer.</p>
  <p></p>
  <p><u>COOKIES</u>. We may use “cookies” (a small piece of data stored on your computer’s hard drive). Cookies help us learn which areas of our site are useful and which areas need improvement. You can choose whether to accept cookies by changing the settings on your browser. However, if you choose to disable this function, your experience on the Site may be diminished and some features may not work as they were intended.</p>
  <p></p>
  <p><u>WEB BEACONS AND TRACKING PIXELS</u>. We may use “web beacons” that will allow us to know if you’ve visited a certain page or opened an e-mail we’ve sent you. We may also use tracking pixels to allow us to show you better and more relevant advertising both on the Site and when you visit other websites.</p>
  <p></p>
  <p><u>SOCIAL NETWORKS</u>. Our Site allows you to interact with and through social networks. We may collect information you choose to allow us to access using those social networking platforms. We may track your check-ins and activities on and across our Sites, and on third party sites that use our services and compare them to others in the community. We may use this information to process and display your rankings, rewards, recognitions, virtual items and gifts and to perform analytics.</p>
  <p></p>
  <center><h2><b>Use and Sharing of Information</b></h2></center>
  <p></p>
  <h3><i>What Does Poold do with Collected Information?</i></h3>
  <p></p>
  <p><u>PERSONAL INFORMATION</u>. We will not share your personal information with any third parties without your consent, except as necessary:</p>
  <ol>
    <li>To provide you with the services offered by us;</li>
    <li>With third-party vendors, consultants and service providers who need access to this data to carry out their work for us;</li>
    <li>To protect the rights or property of Poold</li>
    <li>In an emergency, to protect the personal safety of Poold’s employees, customers or any other person;</li>
    <li>To the extent required during the negotiation of a merger, sale, financing or acquisition; or</li>
    <li>To comply with the law.</li>
  </ol>
  <p></p>
  <p>We may use your personal information to:</p>
  <p></p>
  <ol>
    <li>Verify your identity;</li>
    <li>Check your qualifications; or</li>
    <li>Follow up with transactions initiated on the Site.</li>
  </ol>
  <p></p>
  <p>We may also use your contact information to:</p>
  <p></p>
  <ol>
    <li>Inform you of any changes to the Site; or</li>
    <li>Send you additional information about Poold.</li>
  </ol>
  <p></p>
  <p>If you provide your permission during the account registration process, we may share your contact information with our business partners or other companies so that they may send you promotional materials.</p>
  <p></p>
  <p><u>ANONYMOUS INFORMATION</u>. We use anonymous information to analyze our Site traffic, but we do not examine this information for individually identifying information. In addition, we may use anonymous IP addresses to help diagnose problems with our server, to administer our site, or to display the content according to your preferences. Traffic and transaction information may also be shared with business partners and advertisers on an aggregate and anonymous basis.</p>
  <p></p>
  <p><u>USE OF COOKIES</u>. We may use cookies to:</p>
  <p></p>
  <ol>
    <li>Deliver content specific to your interests;</li>
    <li>Save your password so you don’t have to re-enter it each time you visit our site; or</li>
    <li>For other purposes.</li>
  </ol>
  <p></p>
  <p>Promotions or advertisements displayed on our site may contain cookies. We do not have access to or control over information collected by outside advertisers on our site.</p>
  <p></p>
  <p><u>SOCIAL NETWORK SHARING</u>. Some of the features of the Site are social by design and allow you to publicly share information about yourself and your activities, such as:</p>
  <p></p>
  <ol>
    <li>Your level of activity and participation with the Site;</li>
    <li>Rankings, rewards, recognition and virtual items earned or received as a gift from other Site users; and</li>
    <li>Comments, posts and invitations to people within your social network.</li>
  </ol>
  <p></p>
  <p>We may also share some of your information with social networks that you are a member of, or on which the Site is hosted on, and we are not responsible for their use of your information. You should review the applicable privacy policies for these third-party social network providers.</p>
  <p></p>
  <p><u>SALE OF INFORMATION</u>. In order to accommodate changes in our business, we may sell or buy portions of our company or other companies or assets, including the information collected through this Site. If Poold, or substantially all of its assets, is acquired, customer information will be one of the assets transferred to the acquirer.</p>
  <p></p>
  <center><h2><b>Security</b></h2></center>
  <p></p>
  <p>Poold takes reasonable measures in an effort to prevent the loss, misuse, and alteration of the information that we obtain from you, but we make no assurances about our ability to prevent any such loss, misuse or alteration, and we will have no liability to you or to any third party arising out of any such loss, misuse or alteration. Poold may store and process personal information in the United States and other countries.</p>
  <p></p>
  <p></p>
  <center><h2><b>Website Areas Beyond Poold's Control</b></h2></center>
  <p></p>
  <h3><i>Public Forums</i></h3>
  <p></p>
  <p>The Site may include interactive forums such as:</p>
  <p></p>
  <ol>
    <li>Blogs;</li>
    <li>Comments on blogs;</li>
    <li>Message boards; and</li>
    <li>Chat rooms</li>
  </ol>
  <p></p>
  <p>Please remember that any information that is disclosed in these areas becomes public information and you should exercise caution when deciding to disclose your personal information.</p>
  <p></p>
  <h3><i>Third-Party Websites</i></h3>
  <p></p>
  <p>The Site may contain links to other websites. If you choose to visit other websites, we are not responsible for the privacy practices or content of those other websites, and it is your responsibility to review the privacy policies at those websites to confirm that you understand and agree with their policies.</p>
  <p></p>
  <center><h2><b>Contact Information and Policy Updates</b></h2></center>
  <p></p>
  <h3><i>Contacting Us</i></h3>
  <p></p>
  <p>If you have any questions about this Policy, our practices related to this Site, or if you would like to have us remove your information from our database, where possible, please feel contact us at <a href="mailto:company@poold.in">company@poold.in</a> with the subject line “Privacy Policy”.</p>
  <p></p>
  <h3><i>Updates and Changes</i></h3>
  <p></p>
  <p>We reserve the right, at any time, to add to, change, update, or modify this Policy, simply by posting such change, update, or modification on the Site and without any other notice to you. Any such change, update, or modification will be effective immediately upon posting on the Site. If any changes are made to this Privacy Policy we will reflect the “Last Revised” date above. It is your responsibility to review this Policy from time to time to ensure that you continue to agree with all of its terms.</p>
</div>
{% endblock %}
