{% extends "base.html" %}

{% block flash -%}
{% endblock -%}

{% block body %}
<div class="container">
  <div class="row">
    <div class="span10">

      {% if get_flashed_messages() -%}
      <section id="flash-message">
        <div class="container">
          <div class="row">
            {% for message in get_flashed_messages() %}
            <div class="span4">
              <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ message }}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      {% endif -%}

      {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer -%}
<footer>
  <div class="container">
    <div class="row">
      <div class="offset2 span10 content">
        <div><a href="{{ url_for('marketing.index') }}">&copy; 2012 Poold Inc.</a></div>
        <ul>
          <li><a href="{{ url_for('legal.terms') }}">Terms of Service</a></li>
          <li>|</li>
          <li><a href="{{ url_for('legal.privacy') }}">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock -%}
