{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="span10">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer -%}
<footer>
  <div class="container">
    <div class="row">
      <div class="offset2 span10 content">
        <div><a href="{{ url_for('marketing.index') }}">&copy; 2012 Poold Inc.</a></div>
        <ul>
          <li><a href="{{ url_for('legal.terms') }}">Terms of Service</a></li>
          <li>|</li>
          <li><a href="{{ url_for('legal.privacy') }}">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock -%}
