{% extends "document/right_article.html" %}

{% block secondary %}
{% include 'settings/nav.html' %}
{% endblock %}

{% block article %}
<form class="profile" action="{{ url_for('settings.profile') }}" method="PUT" data-bind="submit: form.submit">
  <h1 data-bind="text: title, css: { error: error, success: success }">Your Profile</h1>
  <hr />
  <label>
    <span
      class="field"
      data-bind="text: form.name.title, css: { error: form.isInvalid('name') }">
      Name
    </span>
    <input type="text"
           class="text name first"
           value="{{ user.name or '' }}" }}
           data-bind="value: form.name, css: { error: form.isInvalid('name') }"
           autofocus="autofocus" />
  </label>
  <label>
    <span
      class="field"
      data-bind="text: form.username.title, css: { error: form.isInvalid('username') }">
      Username
    </span>
    <input type="text"
           class="text username"
           value="{{ user.username or '' }}" }}
           data-bind="value: form.username, css: { error: form.isInvalid('username') }" />
  </label>
  <label>
    <span
      class="field"
      data-bind="text: form.email.title, css: { error: form.isInvalid('email') }">
      Email
    </span>
    <input type="text"
           class="text email last"
           value="{{ user.email or '' }}" }}
           data-bind="value: form.email, css: { error: form.isInvalid('email') }" />
    <div class="mailcheck" style="display: none" data-bind="with: form, visible: form.email.mailcheck">
      Did you mean <a tabindex="50000" href="javascript:void(0)" data-bind="text: email.mailcheck, click: email.mailcheck.accept"></a>?
      <button tabindex="50001" type="button" class="pull-left close" data-bind="click: email.mailcheck.reject">×</button>
    </div>
  </label>
  <div class="submit">
    <input type="submit" class="btn btn-info btn-large" value="Save" />
  </div>
</form>
{% endblock %}

{% block init %}
<script type="text/javascript">
  PI.pages.ProfilePage.init({
    name: {{ user.name|tojson|safe }},
    username: {{ user.username|tojson|safe }},
    email: {{ user.email|tojson|safe }}
  });
</script>
{% endblock %}
