<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta -%}{% endblock -%}
    <title>{% block title %}Poold.in{% endblock %}</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    {% block styles -%}{% include "snippets/styles.html" %}{% endblock -%}
    <script src="{{ url_for('static', filename='script/modernizr.js') }}"></script>
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block ie -%}{% include "snippets/ie.html" %}{% endblock -%}
    <header>
    {% block header -%}{% include "snippets/header.html" %}{% endblock -%}
    </header>
    {% block flash -%}{% include "snippets/flash.html" %}{% endblock -%}
    {% block body -%}{% endblock -%}
    <footer>
    {% block footer -%}{% include "snippets/footer.html" %}{% endblock -%}
    </footer>
    {% block scripts -%}{% include "snippets/scripts.html" %}{% endblock -%}
    {% block init -%}{% endblock -%}
    {% block analytics -%}{% include "snippets/analytics.html" %}{% endblock -%}
  </body>
</html>
