{%- import 'macros/asset.html' as assets with context -%}
{% extends "document/full.html" %}

{% block style %}
{{ assets.style('lib-css-min', debug='lib-css') }}
{{ assets.style('app-css-min', debug='app-css') }}
{% endblock %}

{% block flash %}
{% if get_flashed_messages() -%}
<section id="flash-message" class="auth flash">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{ message }}
  </div>
  {% endfor %}
</section>
{% endif -%}
{% endblock %}

{% block footer %}
<footer class="auth">
  {% include auth/footer.html %}
</footer>
{% endblock %}
