{%- import 'macros/asset.html' as assets with context -%}
{% extends "document/full.html" %}

{% block style %}
{{ assets.style('lib-css-min', debug='lib-css') }}
{{ assets.style('auth-css-min', debug='auth-css') }}
{% endblock %}

{% block header -%}
<header>
  <div class="global">
    <div class="container">
      <div class="row">
        <div class="span12 logo">
          <h2><a href="{{ url_for('marketing.index') }}">pooldin</a></h1>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock -%}

{% block flash %}
{% if get_flashed_messages() -%}
<section id="flash-message" class="auth flash">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{ message }}
  </div>
  {% endfor %}
</section>
{% endif -%}
{% endblock %}

{% block footer %}
{% endblock %}
