  <form class="boxy focal padded-content" action="{{ url_for('auth.login') }}" method="POST" data-bind="submit: loginForm.submit">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    <div class="pending-overlay" style="display: none" data-bind="visible: loginForm.processing"></div>
    {% if error %}
    <h1 class="error" data-bind="text: loginTitle, css: { error: loginForm.error }">{{ error }}</h1>
    {% else %}
    <h1 data-bind="text: loginTitle, css: { error: loginForm.error }">{{ login_title }}</h1>
    {% endif %}

    <hr />

    <input name="login"
           type="text"
           class="large"
           value="{{ login or '' }}" }}
           data-bind="value: loginForm.login, css: { error: loginForm.isInvalid('login') }"
           placeholder="Email or Username" />

    <input name="password"
           type="password"
           class="large"
           data-bind="value: loginForm.password, css: { error: loginForm.isInvalid('password') }"
           placeholder="Password" />

    <input type="submit"
           class="btn btn-danger btn-large"
           value="Suit up!"
           data-bind="value: loginSubmitText, css: { 'btn-danger': !loginForm.saving() }" />

    <label class="remember">
      <input name="remember"
             type="checkbox"
             data-bind="checked: loginForm.remember" />
      <span class="label">Remember Me</span>
    </label>
    <div class="text-center"><a class="rounded reset" href="{{ url_for('auth.reset') }}">Forgot Your Password Password?</a></div>
  </form>
