{% extends "auth/base.html" %}

{% block content %}
<section class="auth login">
  <form class="content" action="{{ url_for('auth.login') }}" method="POST" data-bind="submit: form.submit">
    {% if error %}
    <h1 class="error" data-bind="text: title, css: { error: form.error }">{{ error }}</h1>
    {% else %}
    <h1 data-bind="text: title, css: { error: form.error }">{{ title }}</h1>
    {% endif %}

    <hr />

    <input name="login"
           type="text"
           class="text login first"
           value="{{ login or '' }}" }}
           data-bind="value: form.login, css: { error: form.isInvalid('login') }"
           placeholder="Email or Username"
           autofocus="autofocus" />

    <input name="password"
           type="password"
           class="password last"
           data-bind="value: form.password, css: { error: form.isInvalid('password') }"
           placeholder="Password" />

    <div class="submit">
      <input type="submit" class="btn btn-info btn-large" value="Suit up!" />
    </div>
    <label class="remember">
      <input name="remember"
             type="checkbox"
             class="checkbox"
             data-bind="checked: form.remember" />
      Remember Me
    </label>
  </form>
  <a class="rounded signup" href="{{ url_for('auth.signup') }}">Signup</a>
  <a class="rounded reset" href="{{ url_for('auth.reset') }}">Reset Password</a>
</section>
{% endblock %}

{% block footer %}
<footer class="auth login">
  {% include "auth/footer.html" %}
</footer>
{% endblock %}

{% block init %}
<script type="text/javascript">
  PI.pages.LoginPage.init({
    title: {{ title|tojson|safe }},
    login: {{ login|default('')|tojson|safe }}
  });
</script>
{% endblock %}
