{% extends "auth/base.html" %}

{% block content %}
<section class="auth signup">
  <form class="content" action="{{ url_for('auth.signup') }}" method="POST" data-bind="submit: form.submit">
    {% if error %}
    <h1 class="error" data-bind="text: title, css: { error: form.error }">{{ error }}</h1>
    {% else %}
    <h1 data-bind="text: title, css: { error: form.error }">{{ title }}</h1>
    {% endif %}

    <hr />

    <input name="email"
           type="text"
           class="text email"
           value="{{ email }}" }}
           data-bind="value: form.email, css: { error: form.isInvalid('email') }"
           placeholder="Email"
           autofocus="autofocus" />

    <div class="mailcheck" style="display: none" data-bind="with: form, visible: form.email.mailcheck">
      <button tabindex="50001" type="button" class="pull-left close" data-bind="click: email.mailcheck.reject">×</button>
      Did you mean <a tabindex="50000" href="javascript:void(0)" data-bind="text: email.mailcheck, click: email.mailcheck.accept"></a>?
    </div>

    <input name="username"
           type="text"
           class="text username"
           value="{{ username }}"
           data-bind="value: form.username, css: { error: form.isInvalid('username') }"
           placeholder="Username" />

    <input name="password"
           type="password"
           class="password"
           data-bind="value: form.password, css: { error: form.isInvalid('password') }"
           placeholder="Password" />

    <input name="password_confirm"
           type="password"
           class="password confirm last"
           data-bind="value: form.password_confirm, css: { error: form.isInvalid('password_confirm') }"
           placeholder="Confirm Password" />

    <div class="submit">
      <input type="submit" class="btn btn-info btn-large" value="Dive In!" />
    </div>
  </form>
  <a class="rounded signup" href="{{ url_for('auth.login') }}">Already have an account? <span>Sign in</span>.</a>
</section>
</div>
{% endblock %}

{% block init %}
<script type="text/javascript">
  PI.pages.SignupPage.init({
    title: {{ title|tojson|safe }},
    error: {{ error|default('')|tojson|safe }},
    email: {{ email|default('')|tojson|safe }},
    username: {{ username|default('')|tojson|safe }}
  });
</script>
{% endblock %}
