{%- import 'macros/asset.html' as assets with context -%}
{% extends "document/full.html" %}

{% block style %}
{{ assets.style('lib-css-min', debug='lib-css') }}
{{ assets.style('auth-css-min', debug='auth-css') }}
{% endblock %}

{% block header -%}
<header>
  <div class="global">
    <div class="container">
      <div class="row">
        <div class="span12 logo">
          <h2>poold.in</h1>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock -%}

{% block content %}
<section class="auth signup">
  <form action="" method="POST" class="content">
    <h1>Create your Pooldin account.</h1>
    <hr />
    <input name="email" type="text" placeholder="Email" class="text" autofocus />
    <input name="username" type="text" placeholder="Username" class="text" />
    <input name="password" type="password" placeholder="Password" class="password" />
    <input name="password_confirm" type="password" placeholder="Confirm Password" class="password" />
    <div class="submit">
      <input type="submit" class="btn btn-info btn-large" value="Create your Pooldin account" />
    </div>
  </form>
  <a class="rounded signup" href="{{ url_for('auth.login') }}">Already have an account? <span>Sign in</span>.</a>
</section>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
