<div class="padded-content">
  <form class="account" action="{{ url_for('account.details') }}" method="PUT" data-bind="submit: accountForm.submit">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    <h1 class="clickable" data-bind="click: toggleDetailsForm, text: accountFormTitle, css: { error: accountError, success: accountSuccess }">Account Details</h1>
    <hr />
    <div style="display: none" data-bind="visible: accountFormVisible">
      <label>
        <span
          class="label"
          data-bind="text: accountForm.name.title, css: { error: accountForm.isInvalid('name') }">
          Name
        </span>
        <input type="text"
               class="large"
               value="{{ user.name or '' }}" }}
               data-bind="value: accountForm.name, css: { error: accountForm.isInvalid('name') }" />
      </label>
      <label>
        <span
          class="label"
          data-bind="text: accountForm.username.title, css: { error: accountForm.isInvalid('username') }">
          Username
        </span>
        <input type="text"
               class="large"
               value="{{ user.username or '' }}" }}
               data-bind="value: accountForm.username, css: { error: accountForm.isInvalid('username') }" />
      </label>
      <label>
        <span
          class="label"
          data-bind="text: accountForm.email.title, css: { error: accountForm.isInvalid('email') }">
          Email
        </span>
        <input type="text"
               class="large"
               value="{{ user.email or '' }}" }}
               data-bind="value: accountForm.email, css: { error: accountForm.isInvalid('email') }" />
        <div class="mailcheck" style="display: none" data-bind="with: accountForm, visible: accountForm.email.mailcheck">
          Did you mean <a tabindex="50000" href="javascript:void(0)" data-bind="text: email.mailcheck, click: email.mailcheck.accept"></a>?
          <button tabindex="50001" type="button" class="pull-left close" data-bind="click: email.mailcheck.reject">×</button>
        </div>
      </label>
      <label>
        <span
          class="label"
          data-bind="text: accountForm.password.title, css: { error: accountForm.isInvalid('password') }">
          Password
        </span>
        <input type="password"
               class="large"
               data-bind="value: accountForm.password, css: { error: accountForm.isInvalid('password') }" />
      </label>
      {% set url = user.email or 'anonymous@poold.in' %}
      {% set url = url | gravatar(size=32) %}
      <label class="label gravatar">
        <img alt="{{ user.name }}" src="{{ url }}" />
        <a target="_blank" href="http://gravatar.com/">Change your Gravatar</a>
      </label>
      <input type="submit" class="btn btn-info" value="Save" />
    </div>
  </form>
  <form class="password" action="{{ url_for('account.password') }}" method="POST" data-bind="submit: passwordForm.submit">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    <h1 class="clickable" data-bind="click: toggleDetailsForm, text: passwordFormTitle, css: { error: passwordError, success: passwordSuccess }">Change Password</h1>
    <hr />
    <div style="display: none" data-bind="visible: passwordFormVisible">
      <label>
        <span
          class="label"
          data-bind="text: passwordForm.oldPassword.title, css: { error: passwordForm.isInvalid('oldPassword') }">
          Old Password
        </span>
        <input type="password"
               class="large"
               data-bind="value: passwordForm.oldPassword, css: { error: passwordForm.isInvalid('oldPassword') }" />
      </label>
      <label>
        <span
          class="label"
          data-bind="text: passwordForm.newPassword.title, css: { error: passwordForm.isInvalid('newPassword') }">
          New Password
        </span>
        <input type="password"
               class="large"
               data-bind="value: passwordForm.newPassword, css: { error: passwordForm.isInvalid('newPassword') }" />
      </label>
      <label>
        <span
          class="label"
          data-bind="text: passwordForm.newPasswordConfirm.title, css: { error: passwordForm.isInvalid('newPasswordConfirm') }">
          Confirm New Password
        </span>
        <input type="password"
               class="large"
               data-bind="value: passwordForm.newPasswordConfirm, css: { error: passwordForm.isInvalid('newPasswordConfirm') }" />
      </label>
      <input type="submit" class="btn btn-info" value="Save" />
    </div>
  </form>
</div>
