{% extends "document/right_article.html" %}

{% block secondary %}
{% include 'account/nav.html' %}
{% endblock %}

{% block article %}
<form class="password" action="{{ url_for('account.password') }}" method="POST" data-bind="submit: form.submit">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
  <h1 data-bind="text: title, css: { error: error, success: success }">Change Password</h1>
  <hr />
  <label>
    <span
      class="label"
      data-bind="text: form.oldPassword.title, css: { error: form.isInvalid('oldPassword') }">
      Old Password
    </span>
    <input type="password"
           class="large"
           data-bind="value: form.oldPassword, css: { error: form.isInvalid('oldPassword') }"
           autofocus="autofocus" />
  </label>
  <label>
    <span
      class="label"
      data-bind="text: form.newPassword.title, css: { error: form.isInvalid('newPassword') }">
      New Password
    </span>
    <input type="password"
           class="large"
           data-bind="value: form.newPassword, css: { error: form.isInvalid('newPassword') }" />
  </label>
  <label>
    <span
      class="label"
      data-bind="text: form.newPasswordConfirm.title, css: { error: form.isInvalid('newPasswordConfirm') }">
      Confirm New Password
    </span>
    <input type="password"
           class="large"
           data-bind="value: form.newPasswordConfirm, css: { error: form.isInvalid('newPasswordConfirm') }" />
  </label>
  <input type="submit" class="btn btn-info" value="Save" />
</form>
{% endblock %}

{% block init %}
<script type="text/javascript">PI.pages.ChangePasswordPage.init();</script>
{% endblock %}
