label {
  span.field {
    display: block;
    font-size: 1.2em;
    color: #aaa;
    padding-left: 10px;
    margin-bottom: 6px;
    cursor: pointer;
    &.error {
      color: #BD362F;
    }
  }
}

input.text,
input.password {
  width: 95%;
  padding: 10px 12px;
  margin-bottom: 25px;
  font-size: 1.5em;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.mailcheck {
  margin-top: -20px;
  margin-bottom: 20px;
  button.pull-left {
    margin-top: -2px;
    margin-right: 8px;
    margin-left: 8px
  }
}
