label {
  span.field {
    display: block;
    font-size: 1.2em;
    color: #aaa;
    padding-left: 10px;
    margin-bottom: 6px;
    cursor: pointer;
    &.error {
      color: #BD362F;
    }
  }
}

input.text,
input.password {
  width: 715px;
  display: block;
  padding: 10px 12px;
  margin-bottom: 25px;
  font-size: 1.5em;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 1200px) {
  input.text,
  input.password {
    width: 905px;
  }
}

@media (max-width: 979px) {
  input.text,
  input.password {
    width: 535px;
  }
}

@media (max-width: 767px) {
  input.text,
  input.password {
    width: 90%;
  }
}

.mailcheck {
  margin-top: -20px;
  margin-bottom: 20px;
  button.pull-left {
    margin-top: -2px;
    margin-right: 8px;
    margin-left: 8px
  }
}

label.gravatar {
  margin-bottom: 20px;

  img {
    margin-right: 4px;
  }
}
