* {
  .box-sizing(border-box);
}

html {
  height: 100%;
  font-family: Arial, sans-serif;

  background: #E8EBEF;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear,
                                     left top,
                                     left bottom,
                                     from(rgba(255,255,255,0.3)),
                                     to(rgba(255,255,255,0)));

  background-image: -moz-linear-gradient(top,
                                         rgba(255,255,255,0.3),
                                         rgba(255,255,255,0));

  background-image: -o-linear-gradient(top,
                                       rgba(255,255,255,0.3),
                                       rgba(255,255,255,0));
}

body {
  background-color: transparent;
  padding-bottom: 0px;

  .h1,
  .h2,
  .h3 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .h1 {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .h2 {
    font-size: 1.3em;
    line-height: 1.2em;
  }

  .h3 {
    font-size: 1.1em;
    line-height: 1.2em;
  }


  .subheading {
    text-transform: uppercase;
    font-size: 1.0em;
    font-weight: normal;
  }

  .subtext {
    display: block;
    font-size: 0.9em;
  }
}

header h2 a,
header h2 a:hover {
  color: inherit;
  text-decoration: none;
}

.round {
  .border-radius(4px);
}

.boxy,
.shadow {
  .box-shadow(0 0 2px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2));
}

.boxy {
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #E9E5E1;
}

.padded-content {
  padding: 10px 20px;
}

.nav-list {
  .border-radius(5px);
  .box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.6),
                    0 0 1px rgba(80, 84, 92, 0.45),
                    0 1px 2px rgba(80, 84, 92, 0.2));

  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
  margin-top: 25px;
  margin-right: -35px;
  padding: 15px 6px 15px 0px;
  background: rgba(255, 255, 255, 0.25);
  height: 100%;

  & > li {
    margin: 4px 0px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 0px;

    &:hover {
      border-top: 1px solid rgba(156, 165, 181, 0.25);
      border-bottom: 1px solid #CACDD3;
      box-shadow: 1px 0 rgba(156, 165, 181, 0.08);
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#F0F2F5));
      background-image: -moz-linear-gradient(top, white, #F0F2F5);
      background-image: -o-linear-gradient(top, white, #F0F2F5);
    }

    & > a {
      margin: 0px;
      padding: 3px 0px 3px 10px;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .nav-list {
    font-size: 0.9em;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .nav-list {
    margin-top: 10px;
    margin-right: 0px;
    padding: 15px 0px;
  }
}

footer {
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: left;
}

footer a {
  color: #999;
  text-decoration: none;
}

footer a:hover {
  color: #222;
  text-decoration: under;
}

footer ul {
  margin: 0px;
  display: inline;
}

footer ul li {
  list-style: none;
  display: inline;
  padding-left: 10px;
}

footer ul li:first-child {
  padding-left: 0px;
}

footer .content {
  padding: 0px 15px;
}

.columns {
  .column {
    float: left;
    width: 100%;
    margin: 0px 0px 0px 2%;
  }
  .column:first-child {
    margin-left: 0px;
  }
}

.two.columns {
  .column {
    width: 49%;
  }
}

.five.columns {
  .column {
    width: 19%;
  }
}

.error {
  color: #BD362F;
}

.success {
  color: #158A30;
}

.media-list.avatars {
  li {
    display: inline-block;
  }
  img.media-object {
    .box-shadow(-1px 2px 5px rgba(0,0,0,0.3), 1px 2px 5px rgba(0,0,0,0.3));
    max-width: 120px;
    max-height: 120px;
    border: solid 1px #000;
    margin: 8px;
    cursor: pointer;
  }
  .media-body {
    display: none;
  }
}

@media (max-width: 480px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  .media-list.avatars {
    .popover.top {
      margin-left: 57px;

      .arrow {
        margin-left: -60px;
      }
    }
  }
}

.block {
  width: 100%;
  display: block;
  text-align: center;
}

.text-center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.bold {
  font-weight: bold;
}

.grey {
  color: #6A7178;
}

.black {
  color: #2F333A;
}

.help-screen {
  position: absolute;
  top: 300px;
  width: 100%;
  max-width: 400px;
  height: 150px;
  color: #E9E5E1;
  background: #2F333A;
  padding: 30px 25px;

  .btn.pull-right {
    margin-top: -15px;
    margin-right: -15px;
  }

  .red {
    color: #DC0E49;
  }
}

#social-bar {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  background-color: #101714;

  img.social {
    float: right;
    width: 25px;
    height: 25px;
    margin-top: 7.5px;
    margin-right: 10px;
  }

  img.logo {
    float: left;
    height: 30px;
    margin-top: 5px;
    margin-left: 15px;
  }
}
