.navbar-inner {
  height: 38px;
  padding-top: 0px;

  background-color: #4A5259;
  background-image: -moz-linear-gradient(top, #646A71, #2E343B);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#646A71), to(#2E343B));
  background-image: -webkit-linear-gradient(top, #646A71, #2E343B);
  background-image: -o-linear-gradient(top, #646A71, #2E343B);
  background-image: linear-gradient(to bottom, #646A71, #2E343B);
  background-repeat: repeat-x;


  h2 {
    margin: 0px 0px 0px 20px;
  }

  a.brand {
    padding: 0px;
    line-height: 1.5em;
  }

  a.btn {
    .border-radius(13px);
    color: #218BC4;
    border-width: 0px;
    padding: 5px 12px;
    margin-top: 0px;
  }

  .avatar {
    .inline-block;
    .border-radius(3px);
    width: 18px;
    height: 18px;
    margin-top: -2px;
    vertical-align: middle;
    background-repeat: no-repeat;
  }

  &.navbar-fixed-top {
    position: fixed;
    border: 0;
    top: 0px;

    .nav {
      font-size: 0.9em;
      width: 100%;

      & > li {
        display: block;
        width: 25%;
        height: 38px;

        border-left: solid 1px #666D73;
        border-right: solid 1px #464C53;

        & > a {
          padding: 4px 10px;
          &:hover {
            background-color: #ddd;
          }

          .menu-icon {
            height: 32px;
            margin-left: auto;
            margin-right: auto;
            display: block;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar {
    margin-bottom: 7px;
  }
}

@media (max-width: 979px) {
  .navbar {
    margin-bottom: 7px;
  }
  .navbar-fixed-top {
    margin-bottom: 0px;
    .nav.pull-right {
      margin-right: 10px;
    }
  }
}
