.profile-menu {
  padding: 14px 0px;
  text-align: right;
  font-size: 0.9em;

  .btn,
  .btn-border {
    .border-radius(13px);
  }

  .avatar,
  .btn-border {
    .inline-block;
  }

  .btn {
    color: #218BC4;
    border-width: 0px;
    padding: 5px 12px;
  }

  .btn-border {
    border: solid 1px #6FB2D6;
    background-color: #6FB2D6;
    margin-left: 4px;
    margin-right: 4px;
  }

  .avatar {
    .border-radius(3px);
    width: 18px;
    height: 18px;
    margin-top: -2px;
    vertical-align: middle;
    background-repeat: no-repeat;
  }
}
